<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
	
	<typeAliases>
		<typeAlias type="com.hk.wepoor.vo.UserVO" alias="UserVO"/>
		<typeAlias type="com.hk.wepoor.vo.AccountVO" alias="AccountVO"/>
		<typeAlias type="com.hk.wepoor.vo.PointVO" alias="PointVO"/>
		
		<typeAlias type="com.hk.wepoor.vo.CategoryVO" alias="CategoryVO"/>
		<typeAlias type="com.hk.wepoor.vo.PoorRoomVO" alias="PoorRoomVO"/>
		<typeAlias type="com.hk.wepoor.vo.RoomMemberVO" alias="RoomMemberVO"/>
	

		<typeAlias type="com.hk.wepoor.vo.CommunityVO" alias="CommunityVO"/>
		<typeAlias type="com.hk.wepoor.vo.PayVO" alias="PayVO"/>


		<typeAlias type="com.hk.wepoor.vo.FailVO" alias="FailVO"/>
		<typeAlias type="com.hk.wepoor.vo.CardHistoryVO" alias="CardHistoryVO"/>

	</typeAliases>
	
</configuration>