<!DOCTYPE html>
<html lang="utf-8" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Teab</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- fevicon -->
    <!-- <link rel="icon" href="images/fevicon.png" type="image/gif" /> -->
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesoeet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
       media="screen">
     <!-- bootstrap CSS END-->  
     
     <!-- hyejung CSS Start -->
     <link rel="stylesheet" type="text/css" href="css/category.css">
     <!-- hyejung CSS End -->
 </head>
 
 <body>
    <!-- header section start -->
        <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
		            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		            <span class="navbar-toggler-icon"></span>
		         </button>
                
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
            	
		            	<!-- user info section -->     
		            	<div class="hamburger_userinfo">
			           		<img src="images/whitemywoogeoji.jpg" style="width:60px; height:60px;"/>
			           		<input type="text" class="hamburger_nickname_input" th:value="${userNickName}" readonly>
		           		</div>     
		            	
		            	<hr style="height:2px;border-width:0;background-color:#e0e0e0;" class="mapage_hr">
		            	
		              	<a class="nav-item nav-link" href="/">Home</a>
		              	<a class="nav-item nav-link" href="/mypage">Mypage</a>
		               	<a id="logout" class="nav-item nav-link" onclick="logout()">Logout</a>
		               	
		               	<hr style="height:2px;border-width:0;background-color:#e0e0e0; margin-bottom:1px;" class="mapage_hr">
		            </div>
                </div>
                
                <div style="color:white; font-size:35px; font-weight:700; font-family: 'Jua', sans-serif; letter-spacing: 5px; flex-grow: 1;">
                    <span>애껴</span>
                </div>
                
                <form th:action="@{community/leave}" method="post" class="mt-2">
                    <button class="leave_btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right-square" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                        </svg>
                        <input type="hidden" name="user_no" th:value="${session.userNo}">
                        <input type="hidden" name="cate_id" th:value="${cate_id}">
                    </button>
                </form>
        </nav>
        </div>
        <!-- header section end -->
    
    <!-- 페이지 작성하기 시작-->
        <div class="container mt-4" th:each="category : ${categoryList}" th:if="${category.cate_id} == ${cate_id}">
            <div style="background-color: #cbcbcb; color: black; padding: 2%; border-radius: 15px;">
                <div >
                    환영합니다, <span th:text="${category.cate_weekend}" style="font-weight: bolder;"></span><span style="font-weight: bolder;">주차</span> [<span th:text="${category.cate_name}" style="font-weight: bolder;"></span>] 참는 거지방입니다.
                </div>
                <div>
                    참여기간은 [<span style="font-weight: bolder;" th:text="${category.cate_date}"></span>>] 입니다. 
                </div>
                <div>
                    일주일 기준 [<span style="font-weight: bolder;" th:text="${category.cate_name}"></span>] 카드소비내역 허용 횟수는 <span style="font-weight: bolder;">[5]</span>번 입니다. 
                </div>
            </div>
            <div class="d-flex mt-4">
                <img class="mt-1" src="images/woogeoji.png" alt="이미지 사진" style="width: 28px; height: 28px;">
                <p th:text="${userNickName}" style="margin: 10px; color: black; font-weight: bold"></p>
            </div>
            <form th:action="@{/community/create}" method="POST">
                <input class="form-control my-2" name="commu_content" type="text" placeholder="댓글을 작성해주세요." >
                <input type="hidden" name="cate_id" th:value="${category.cate_id}">
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-success" style="color: #ffffff; border-radius: 15px;">작성</button>
                </div>
            </form>
            
            <div th:each="community : ${communityList}" th:if="${community.cate_id} == ${cate_id}">
                <div class="mb-3 form-control" th:if="${community.top_commu_id} == 0">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex">
                            <img class="mt-1"src="images/woogeoji.png" alt="이미지 사진" style="width: 28px; height: 28px;">
                            <p th:text="${community.user_nickname}" style="margin: 10px; color: black; font-weight: bolder;"></p>
                        </div>
                        <!-- 글 작성 -->
                        <div class="d-flex">
                            <div class="d-flex mt-1 mr-2" th:onclick="'newPost(' + ${community.commu_id} + ');'">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                </svg>
                            </div>
                            <!-- 같은 유저라면 수정 -->
                            <div class="d-flex mt-1" th:if="${community.user_no} == ${session.userNo}">
                                <div th:id="'showForm'+${community.commu_id}" th:onclick="'updatePost(' + ${community.commu_id} + ');'">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square mr-2" viewBox="0 0 16 16">
                                        
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg>
                                </div>
                                <!-- 같은 유저라면 삭제 -->
                                <form th:action="@{/community/delete}" method="post">
                                    <button>
                                        <input type="hidden" name="delete" th:value="${community.commu_id}">
                                        <input type="hidden" name="content" value="삭제 되었습니다.">
                                        <input type="hidden" name="cate_id" th:value="${category.cate_id}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                        </svg>
                                    </button>
                                </form>
                            </div>
                        </div>    
                    </div>
                    <!-- 본문 -->
                    <div th:if="${community.top_commu_id} == 0">
                        <h5 class="card-title" th:id="'content'+${community.commu_id}" th:text="${community.commu_content}" th:value="${community.commu_content}" style="margin: 0px;"></h5>

                        <form th:id="'show'+${community.commu_id}" th:action="@{/community/update}" method="POST" style="display: none;">
                            <input class="form-control my-2" name="commu_content" type="text" th:value="${community.commu_content}" >
                            <input type="hidden" name="commu_id" th:value="${community.commu_id}">
                            <input type="hidden" name="cate_id" th:value="${category.cate_id}">
                            <input type="hidden" name="userNo" th:value="${session.userNo}">
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-success" style="color: #ffffff; border-radius: 15px;">작성</button>
                            </div>
                        </form>

                        <div th:text="${community.create_time}" class="d-flex justify-content-end" style="font-size: 10px;"></div>
                        <form th:action="@{/community/createReply}" method="post" th:id="'contentForm'+${community.commu_id}" style="display: none;">
                            <!-- 상위 게시물의 commu_id 값을 전달하기 위해 hidden 필드 추가 -->
                            <input type="hidden" name="parentId" th:value="${community.commu_id}">
                            <input type="hidden" name="cate_id" th:value="${category.cate_id}">
                            <input type="hidden" name="userNo" th:value="${session.userNo}">
                            <input class="form-control mb-2" name="commu_content" type="text" placeholder="댓글을 작성해주세요.">
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-success" style="color: #ffffff; border-radius: 15px;">작성</button>
                            </div>
                        </form>
                    </div>
                    <!-- 대댓글 리스트 -->
                    <div>
                        <!-- 필터 1. commu_id 와 top_commu_id가 같은지 -->
                        <div th:each="replyList : ${replyList}" th:if="${community.commu_id} == ${replyList.top_commu_id}" class="form-control">

                            <div class="d-flex">
                                <div class="d-flex justify-content-center align-items-center mr-2">
                                    <img src="images/arrow-right.png" alt="" style="width: 20px; height: 20px;">
                                </div>
                                <div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <img src="images/woogeoji.png" alt="이미지 사진" style="width: 28px; height: 28px;">
                                            <p th:text="${replyList.user_nickname}" style="margin: 10px; color: black; font-weight: bold;"></p>
                                        </div>
                                        <!-- 댓글 수정 / 해당 유저라면 -->
                                        <div class="d-flex" th:if="${replyList.user_no} == ${session.userNo}">
                                            <div th:onclick="'updateReplyPost(' + ${replyList.commu_id} + ');'">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square mr-2" viewBox="0 0 16 16">
                                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                                </svg>
                                            </div>
                                            

                                            <!-- <button type="button" class="btn btn-primary" >Open modal for @fat</button> -->
                                            <!-- 댓글 삭제 / 해당 유저라면 -->
                                            <form th:action="@{/community/delete}" method="post" class="d-flex align-items-center" >
                                                <button>
                                                    <input type="hidden" name="delete" th:value="${replyList.commu_id}">
                                                    <input type="hidden" name="content" value="삭제 되었습니다.">
                                                    <input type="hidden" name="cate_id" th:value="${category.cate_id}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                                    </svg>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                    
                                    <!-- 대댓글 너비설정 -->
                                    <div style="margin: 0px; width: 70vw;">
                                        <h5 th:id="'replyContent'+${replyList.commu_id}" class="card-title" th:text="${replyList.commu_content}" th:value="${replyList.commu_content}"></h5>
                                        <form th:id="'showReplyForm'+${replyList.commu_id}" th:action="@{/community/update}" method="POST" style="display: none;">
                                            <input class="form-control my-2" name="commu_content" type="text" th:value="${replyList.commu_content}" >
                                            <input type="hidden" id="cno" name="commu_id" th:value="${replyList.commu_id}">
                                            <input type="hidden" name="cate_id" th:value="${category.cate_id}">
                                            <input type="hidden" name="userNo" th:value="${session.userNo}">
                                            <div class="d-flex justify-content-end">
                                                <button type="submit" class="btn btn-success" style="color: #ffffff; border-radius: 15px;">작성</button>
                                            </div>
                                        </form>
                                        <div th:text="${replyList.create_time}" class="d-flex justify-content-end" style="font-size: 10px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   <!-- 페이지 작성하기 끝-->
   

   <!-- copyright section start -->
   <div class="copyright_section">
    <div class="container">
       <p class="copyright_text">Copyright 2023 All Right Reserved By.<a href="https://html.design"> Free html
             Templates</a> Distributed by. <a href="/">life&money</a> </p>
       </p>
    </div>
 </div>
 <!-- copyright section end -->
 
 <!-- Javascript files-->
 <script src="js/jquery.min.js"></script>
 <script src="js/bootstrap.bundle.min.js"></script>

 <script>
    // community 넘버
    

    $('.intro_check').css('display','none');
    // $('#show').css('display', 'block');
    // for (var i=1; i < 300; i++) {
    
    function newPost(number) {
        $(`#contentForm${number}`).css('display', 'block');
    }

    function updatePost(number) {
        console.log(`#showForm${number}`);
        $(`#contentForm${number}`).css('display', 'none');
        $(`#content${number}`).css('display', 'none');
        $(`#show${number}`).css('display', 'flex');
    };

    function updateReplyPost(number) {
        $(`#showReplyForm${number}`).css('display', 'block');
        $(`#content${number}`).css('display', 'none');
        $(`#replyContent${number}`).css('display', 'none');
    }


      $('#intro_btn').click(function(){
	  		var introduce = $('#intro_text').val();
	  		console.log("수정")
            console.log(introduce)
	  		$.ajax({
				type : "post",
				url : "/community/create",
				data : {introduce:introduce},				
				success : function(data) {
					console.log(data);
					var text ="";					
					// text += '<img id="setting" src="/image/setting1.png" alt="소개수정" >';
					text += "<p>"+data+"</p>";
					console.log("text" + text);
					document.getElementById('introduce').innerHTML = text;	
                    location.reload();
					//$('#introduce').html(data);
								
				},
				error : function(err) {
					console.log(err);
				}
			});	  		
	  	});	  		 
	  	
	  	$('#intro_btn').click(function(){
  			$('.introduce').css('display','block');
			$('.intro_check').css('display','none');
			$('#setting').css('display','block');			
  		});
    

    function commentUpdate(cno, ccontent){
	     var a ='';
	     
	     a += '<div id="commentModifyBox" class="commentBox"><div class="commentContent">';
	     a += '<input type="text" class="ccontent" id="ccontent" name="ccontent_'+cno+'" value="'+ccontent+'"/>';
	     a += '<div class="commentmodifybtn"><span class="commentbtn"><button id="ubtn" class="buttoncontent" type="button" onclick="commentUpdateProc('+cno+');">수정</button> </span>';
	     a += '<span class="commentbtn commentbtn2"><button id="ubtn" class="buttoncontent cancelbtn" type="button" onclick="commentList();">취소</button> </span></div>';
	     a += '</div></div>';
	     
	     $('.commentContent'+cno).html(a);
	     
	 }
    
 </script>
</body>

    


   <style>
   .bg-light {
    background-color: #1abc9c !important;;
	}
	.about_layout_padding {
    padding-top: 50px;
    padding-bottom: 0px;
	}
	.in_see_bt a {
	margin-bottom : 90px;
	background-color: #1abc9c;
	}
	.see_bt a:hover {
    color: #ffffff;
    background-color: #1abc9c;
	}
	.copyright_text {
	padding-top : 0px;
	}
	.copyright_section {
	background-color: #1abc9c;
	margin-top : 20px;
	}
	.catchphrase {
	padding-top: 200px;
    margin-bottom : 1px;
	}
   </style>   
   
   

</html>