.payCompleteNotice {
	background-color: #cbcbcb; 
	color: black; 
	border-radius: 5px;
	margin-top: 25px;
    margin-bottom: 25px;
}
.noticeContent {
	 margin-top: 20px;
	 margin-bottom: 20px;
}
.noticeContent span {
	margin-top: 25px;
    margin-bottom: 25px;
    font-size: 20px;
	color: black;
}
table {
	width: 360px;
	font-weight: 700;
    font-size: 15px;
}
table td {
	width: 180px;
}
.paydetailtable {
	width: 340px;
	margin-left: 20px;
}
.paydetail {
	font-weight: 700;
    font-size: 20px;
}
.cardHistory_btn {
	font-size: 20px;
	width: 150px;
	height: 40px;
	background-color: #1abc9c;
	color: #FFFFFF;
	border-radius: 30px;
	margin: 15px 20px 15px auto;
	float: right;
}