<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
	<p>accceeess</p>
	<button id="mypage" type="button" class="navyBtn">마이페이지</button>
	<button id="logout" type="button" class="navyBtn">로그아웃</button>

	<script>
		$(function() {
			
			$("#mypage").on("click", function() {
				location.href = "/access/mypage";
			});
			
			
			$("#logout").on("click", function() {
				location.href = "/logout";
			});
			
		});
	</script>
</body>
</html>