<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<p>request_accress_result</p>
<h2 th:text= "${access_token}"></h2>
<span th:text="${requestAccess}"></span>

<p>request_user_result</p>
<h2 th:text= "${user_id}"></h2>
<span th:text="${userinfo}"></span>

<button onclick = "location.href='/kakaoLogout'">
로그아웃
</button>

<button onclick = "location.href='https://kauth.kakao.com/oauth/logout?client_id=e4e9f889e1bb27e6af7af657094f2743&logout_redirect_uri=http://localhost/login_page'">
로그아웃2
</button>

<button onclick = "location.href='/kakaoSignout'">
회원탈퇴
</button>


</body>
</html>