<!DOCTYPE html>
<html lang="utf-8" xmlns:th="http://www.thymeleaf.org">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>Teab</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- bootstrap css -->
   <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
   <!-- style css -->
   <link rel="stylesheet" type="text/css" href="css/style.css">
   <!-- Responsive-->
   <link rel="stylesheet" href="css/responsive.css">
   <!-- fevicon -->
   <!-- <link rel="icon" href="images/fevicon.png" type="image/gif" /> -->
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <!-- owl stylesheets -->
   <link rel="stylesheet" href="css/owl.carousel.min.css">
   <link rel="stylesoeet" href="css/owl.theme.default.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
      media="screen">
    <!-- bootstrap CSS END-->  
    
    <!-- hyejung CSS Start -->
    <link rel="stylesheet" type="text/css" href="css/category.css">
    <!-- hyejung CSS End -->
</head>


<body>

   <!-- header section start -->
  <div class="header_section">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
      
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         
         <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            	
            	<!-- user info section -->     
            	<div class="hamburger_userinfo">
	           		<img src="images/whitemywoogeoji.jpg" style="width:60px; height:60px;"/>
	           		<input type="text" class="hamburger_nickname_input" th:value="${userNickname}" readonly>
           		</div>     
            	
            	<hr style="height:2px;border-width:0;background-color:#e0e0e0;" class="mapage_hr">
            	
              	<a class="nav-item nav-link" href="/">Home</a>
              	<a class="nav-item nav-link" href="/mypage">Mypage</a>
               	<a id="logout" class="nav-item nav-link" onclick="logout()">Logout</a>
               	
               	<hr style="height:2px;border-width:0;background-color:#e0e0e0; margin-bottom:1px;" class="mapage_hr">
            </div>
         </div>
         
         <p style="color:white; font-size:35px; font-weight:700; font-family: 'Jua', sans-serif; letter-spacing: 5px;">기간</p>
         
         <div class="see_bt in_see_bt"><a href="roomdetail" style="font-size:16px; font-weight:700; font-family: 'Jua', sans-serif; color: black;">My 거지방</a></div>
         
      </nav>
   </div>
   <!-- header section end -->
   
   
   
	 <!-- <div class="col-md-6">
		<div th:each="wl:${weeklist}" class="box_main active"  style="display: flex; flex-direction: row; justify-content: center; align-items: center">
		<a href="category">
         <p style="background:#CCCCCC; font-size:30px; font-weight:700; font-family: 'Jua', sans-serif; letter-spacing: 5px;">5월</p>
				<input type="hidden" th:value="${wl.cate_weekend}" name="cate_weekend">
				<button th:text="${wl.cate_weekend}" type="submit" style="background:#CCCCCC; font-size:30px; font-weight:700; font-family: 'Jua', sans-serif; letter-spacing: 5px;">커피</button>
		<p style="background:#CCCCCC; font-size:30px; font-weight:700; font-family: 'Jua', sans-serif; letter-spacing: 5px;">주차</p>
		<span th:text="${wl.cate_date}"></span>
		<a th:href="@{category.html}"></a>
      </a>
   </div>
      
	</div> -->

   <div class="container" style="height: 85vh;">
		<input th:text="${session.userId}" type="hidden" style="display: none;"></input>
		<input th:text="${session.userNo}" type="hidden" style="display: none;"></input>
		<div th:each="list : ${weeklist}">
         <a th:href="@{/category(cate_weekend = ${list.cate_weekend})}" >
            <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-center align-items-center">
                     <div style="font-size: 20px;">
                        <div class="d-flex" style="font-weight: bolder; color: black;">
                           <div th:text="${#dates.format(list.end_date, 'MM ')}"></div>
                           <div class="mr-2">월</div>
                           <div th:text="${list.cate_weekend}"></div>
                           <div>주차</div>
                        </div>
                        <div class="d-flex">
                           <span>(</span>
                           <div th:text="${list.cate_date}"></div>
                           <span>)</span>
                        </div>
                     </div>
                  </li>
            </ul>
         </a>
		</div>
	</div>	               
                  
                  
                  
                  
   <!-- copyright section start -->
   <div class="copyright_section">
      <div class="container">
         <p class="copyright_text">Copyright 2023 All Right Reserved By.<a href="https://html.design"> Free html
               Templates</a> Distributed by. <a href="/">life&money</a> </p>
         </p>
      </div>
   </div>
   <!-- copyright section end -->
   
   <input id="ID" type="hidden" th:value="${session.userId}"/>
   <!-- Javascript files-->
   <script src="js/jquery.min.js"></script>
   <script src="js/bootstrap.bundle.min.js"></script>
     <script>
    function roomMake() {
    	window.location.href = 'roomMake'
    }  
    
    
    function logout(){
    	var id = $("#ID").val();
    	console.log(id);
    	
    	if(id.indexOf("@kakao") != -1){
    		$("#logout").prop('href', 'https://kauth.kakao.com/oauth/logout?client_id=e4e9f889e1bb27e6af7af657094f2743&logout_redirect_uri=http://localhost/logout');	
    	
    	}else{
    		
    		$("#logout").prop('href', "logout");
    	}
    	
    	
    }
    
    
    
    
  </script>
</body>

</html>